*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# pycache
*/__pycache__/*
#for sensor
*.o
*.elf
*.eep
*.hex
.*
*~

# for logging
/tests/logs/*
/tests/graphs/*
*.png
