<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.david.robotour">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission." />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectLanguageActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="ExtraText" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="ExtraText">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PicturesActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigatingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            android:screenOrientation="portrait"
        </activity>
        <activity
            android:name=".Waiting"
            android:label="@string/title_activity_waiting"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TempActivity" />
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FinnishActivity"
            android:label="@string/title_activity_finnish"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>